<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}">
    </head>
    <body>

    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Zinnig Actief</h3>
            </div>
            <ul class="list-unstyled components">
                {% if(app.user) %}
                <li>
                    <a href="{{ path('fos_user_security_logout') }}">Logout</a>
                </li>
                    <br><br>
                {% else %}
                <li>
                    <a href="{{ path('fos_user_registration_register') }}">Register</a>
                </li>
                <li>
                    <a href="{{ path('fos_user_security_login') }}">Login</a>
                </li>
                {% endif %}
                <br><br>
                <li>
                    <a href="{{ path('default') }}">Home</a>
                </li>
                {% if(is_granted('ROLE_ADMIN')) %}
                <li>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Administration</a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            <a href="{{ path('user_index') }}">Users</a>
                        </li>
                        <li>
                            <a href="{{ path('event_index') }}">Events</a>
                        </li>
                        <li>
                            <a href="{{ path('location_index') }}">Locations</a>
                        </li>
                        <li>
                            <a href="{{ path('reservation_index') }}">Reservations</a>
                        </li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </nav>

        <div class="content">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                        {% if(app.user) %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('fos_user_security_logout') }}">Logout</a>
                        </li>
                        <br><br>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fos_user_registration_register') }}">Register</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('fos_user_security_login') }}">Login</a>
                            </li>
                        {% endif %}
                        <br><br>
                        <li class="nav-item" >
                            <a class="nav-link" href="{{ path('default') }}">Home</a>
                        </li>
                    </ul>
                </div>
            </nav>

            {% block body %}{% endblock %}
            {% block content %}
                {% block fos_user_content %}{% endblock %}
            {% endblock %}
        </div>
    </div>





    </body>
</html>

        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
